name: Release

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.6'
          channel: 'stable'
          cache: true
      - run: flutter pub get
      - run: flutter build apk --split-per-abi

      # - name: Release
      # - uses: softprops/action-gh-release@v1
      #   with:
      #     files: app/build/outputs/apk/release/*.apk
      #     tag_name: v${{ github.run_number }}
      #     release_name: Release ${{ github.run_number }}
      #     body: |
      #       This is the release of the APK built from commit ${{ github.sha }}.
      #       It includes the following changes:
      #       - Feature 1
      #       - Feature 2